@import "bootstrap/bootstrap.min.css";

body {
    background-blend-mode: color;
    background: rgba(20, 20, 20, .7) url("/media/bg.jpg") no-repeat center fixed;
    background-size: cover;
    padding: 100px 0;
    margin: auto;
    color: #ccc;
    text-shadow: 1px 1px 4px #000, 1px 1px #000;
}

.bg-darkgray {
    background: #393f45;
}

body > div {
    opacity: .97;
}

td {
    padding: 0 15px 5px 0;
}

a, a:hover {
    color: lightgray;
    text-decoration: none;
}

.posMoney {
    color: #8f8 !important;
}

.negMoney {
    color: #f88 !important;
}

.zerMoney {
    color: #ddd !important;
}

.pos-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-text {
    font-size: 30px;
    color: #def;
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0 0 10px #def;
}

.grey-white {
    color: gray !important;
}

.grey-white:hover {
    color: white !important;
}

.read-only-input {
    border: 0 solid transparent;
    border-radius: 3px;
    background: #343a40 !important;
    outline: none;
    height: 32px;
    width: 100%;
    color: #f8f9fa;
    /*font-size: 11px;*/
    /*font-family: Tahoma;*/
}

.selectable:hover div {
    background-color: #242a30;
}

.selectable:hover .read-only-input {
    background: #242a30 !important;
}

.modal-custom .modal-content {
    background: #242a30;
    border: darkgray double 5px;
    border-radius: 20px;
}

.modal-custom {
    display: table;
}

.modal-img {
    max-width: 1800px;
    max-height: 900px;
}
