@import "bootstrap/bootstrap.min.css";

body {
    padding: 0;
    margin: auto;
    background: #555;
    color: #ccc;
}

td {
    padding: 6px;
    font-size: 20px;
}

.posMoney {
    color: #8f8 !important;
}

.negMoney {
    color: #f88 !important;
}

.zerMoney {
    color: #ddd !important;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-text {
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0 0 4px #000;
}

.grey-white {
    color: gray !important;
}

.grey-white:hover {
    color: white !important;
}

.read-only-input {
    border: 0 solid transparent;
    border-radius: 3px;
    background: #343a40 !important;
    outline: none;
    height: 32px;
    width: 100%;
    color: #f8f9fa;
    /*font-size: 11px;*/
    /*font-family: Tahoma;*/
}

.selectable:hover div {
    background-color: #242a30;
}

.selectable:hover .read-only-input {
    background: #242a30 !important;
}