@import "bootstrap/bootstrap.min.css";

body {
    background-blend-mode: soft-light;
    background: url("/media/800px-Flag_of_the_United_States.svg.webp") no-repeat left 50px fixed,
    url("/media/800px-Flag_of_Ukraine.svg.webp") no-repeat right 50px fixed,
    url("/media/bg.jpg") no-repeat center fixed,
    rgba(30, 30, 30, 1);
    background-size: 35% 35%, 35% 35%, cover;
    padding: 100px 0;
    margin: auto;
    color: #ccc;
    text-shadow: 1px 1px 4px #000, 1px 1px #000;
}

.bg-darkgray {
    background: #393f45;
}

body > div {
    opacity: .95;
}

td {
    padding: 0 15px 5px 0;
}

a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #fff;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
}

.posMoney {
    color: #8f8 !important;
}

.negMoney {
    color: #f88 !important;
}

.zerMoney {
    color: #ddd !important;
}

.header-text {
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0 0 10px #def;
}

.grey-white {
    color: gray !important;
}

.grey-white:hover {
    color: white !important;
}

.read-only-input {
    border: 0 solid transparent;
    background: transparent !important;
    outline: none;
    color: #f8f9fa;
}

.selectable:hover div {
    background: #242a30; !important;
}

.modal-custom .modal-content {
    background: #242a30;
    border: darkgray double 5px;
    border-radius: 20px;
}

.modal-custom {
    display: table;
}

.modal-img {
    max-width: 1800px;
    max-height: 900px;
}
