<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Аукцион</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="tabs">
    <div class="tab">
        <h2>Аукцион</h2>
    </div>
    <div>
        <a class="btn green outline" href="/auc/new-lot"
           sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
            <b>+</b>
        </a>
    </div>
</div>
<main>
    <div class="list-grid">
        <a class="card selectable" th:each="lot:${lots}" th:href="|/auc/${lot.id}|" th:object="${lot}">
            <div class="card-header" th:text="|*{make} *{model} *{year}|"></div>
            <div class="card-body h-center img-wrapper">
                <img th:src="|/img/*{currentImg}|" class="img-inner" src="#" alt="#">
            </div>
            <div class="card-footer row jc-sb">
                <div class="money" th:text="*{currentBid}" title="Текущая ставка"></div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'POWER')" class="right gray-white nowrap"
                     title="Телефон последнего участника"
                     th:if="*{userPhone}"
                     th:text="'+380 '+*{userPhone}">
                </div>
            </div>
        </a>
    </div>
</main>

<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/app.js"></script>
</body>
</html>
