<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Рассчёты</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="w-75">
    <div class="tabs">
        <div class="tab">
            <h2>Калькулятор</h2>
        </div>
    </div>
    <main class="card">
        <div class="card-header row collapsing">
            <div class="f1">
                <label for="input-year-of-issue">Год&nbsp;выпуска</label>
                <input id="input-year-of-issue" type="number" min="1970"/>
            </div>
            <div class="f1">
                <label for="input-volume">Объём</label>
                <input id="input-volume" type="number" step="0.001" min="0" max="20">
            </div>
            <div class="f1">
                <label for="input-additional-sum">Сумма&nbsp;начисления</label>
                <input id="input-additional-sum" type="number" step="0.01" min="0" max="9999999"
                       oninput="cuttingDecimalPlaces(this)"/>
            </div>
            <div class="f1"></div>
            <div class="f1">
                <label for="input-usd">Доллар</label>
                <input id="input-usd" type="number" step="0.01" min="0" max="999" th:value="${usd}"/>
            </div>
            <div class="f1">
                <label for="input-eur">Евро</label>
                <input id="input-eur" type="number" step="0.01" min="0" max="999" th:value="${eur}"/>
            </div>
        </div>
        <div class="card-body">
            <div class="half selectable">
                <div class="right">Пошлина:</div>
                <div id="div-duty" class="money"></div>
            </div>
            <div class="half selectable">
                <div class="right">Акциз:</div>
                <div id="div-excise" class="money"></div>
            </div>
            <div class="half selectable">
                <div class="right">НДС:</div>
                <div id="div-vat" class="money"></div>
            </div>
            <div class="half selectable">
                <div class="right">Всего:</div>
                <div class="half p-0">
                    <div class="row m-0">
                        <div id="div-total" class="money"></div>
                        <div class="f1">&nbsp;₴</div>
                    </div>
                    <div class="row">
                        <div id="div-total-usd" class="money"></div>
                        <div class="f1">&nbsp;$</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn outline" onclick="window.history.back();" value="<< Назад"/>
        </div>
    </main>
</div>
<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/calculator.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
