<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Список автомобилей</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="tabs">
    <a class="tab" href="/car"
       th:classappend="${servletPath.equals('/car')?'disabled active':null}">
        <h2>Мои авто</h2>
    </a>
    <a class="tab" href="/car/order"
       th:classappend="${servletPath.equals('/car/order')?'disabled active':null}"
       sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
        <h2>Заказы</h2>
    </a>
    <div>
        <a class="btn green outline" href="/car/new-car" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
            <b>+</b>
        </a>
    </div>
</div>
<main>
    <div class="list-grid">
        <div th:each="car:${cars.?[income==0]}" th:insert="~{parts/car-card :: car}"></div>
    </div>
    <div th:if="${servletPath.equals('/car')}" class="sold"
         sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">Продано
    </div>
    <div class="list-grid">
        <div th:each="car:${cars.?[income>0]}" th:insert="~{parts/car-card :: car}"></div>
    </div>
</main>

<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/app.js"></script>
</body>
</html>
