<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница авто</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div th:insert="~{parts/header-menu :: menu}"></div>

<div class="container">
    <div class="card bg-dark" th:object="${car}">
        <div class="card-header">
            <div id="car-id" class="row" th:data-id="*{id}">
                <div id="div-make" class="header-text ml-3" th:text="*{make}"></div>
                <div id="div-model" class="header-text ml-3" th:text="*{model}"></div>
                <div style="margin-left: 20px;">
                    <button type="button" id="btn-edit-carname"
                            class="btn btn-outline-warning">
                        <<
                    </button>
                    <button type="button" id="btn-submit-carname"
                            class="btn btn-outline-success">
                        >>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body row">
            <div class="col-8">
                <a href="img/">
                    <img th:src="|/img/*{imgFilename}|" style="max-width: 100%; max-height: 370px;">
                </a>
            </div>
            <div class="col-4">
                <table>
                    <tr>
                        <td>Расходы:</td>
                        <td class="money" th:text="*{spending}"></td>
                    </tr>
                    <tr>
                        <td>Выручка:</td>
                        <td class="money" th:text="*{income}"></td>
                    </tr>
                    <tr>
                        <td>Прибыль:</td>
                        <td class="money" id="balance-info" th:data-balance="*{spending+income}"
                            th:text="*{spending+income}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-light" onclick="goto('../')"><< Выбор авто</button>
                </div>
                <div class="col" style="text-align: right;">
                    <button type="button" class="btn btn-outline-light" onclick="goto('notes/')">Все записи >></button>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{parts/new-note :: create}"></div>
</div>

<script src="/js/app.js"></script>
<script src="/js/car.js"></script>
</body>
</html>
