<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Страница авто</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="card bg-dark">
        <form method="post" th:object="${car}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="hidden" name="_method" value="put"/>
            <div class="card-header">
                <div class="row">
                    <div class="col-10 row">
                        <div class="col px-0">
                            <input type="text" name="make" th:value="*{make}" style="width: 100%"
                                   class="form-control-lg bg-dark text-light read-only-input header-text" readonly/>
                        </div>
                        <div class="col px-0">
                            <input type="text" name="model" th:value="*{model}"
                                   class="form-control-lg bg-dark text-light read-only-input header-text" readonly/>
                        </div>
                        <div class="col px-0">
                            <input type="number" min="1970" name="year" th:value="*{year}"
                                   class="form-control-lg bg-dark text-light read-only-input header-text" readonly/>
                        </div>
                    </div>
                    <div class="col-2 text-right" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                        <input id="btn-change" type="button" onclick="clickChangeCar()"
                               class="btn btn-outline-warning" value="<< править"/>
                        <input id="btn-submit" type="submit"
                               class="btn btn-outline-success" style="display: none" value="сохранить >>"/>

                        <!--                    <form method="post" th:action="|/cars/${car.id}/pull-info/|">-->
                        <!--                        <div class="input-group" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">-->
                        <!--                            <input type="text" name="vinOrLot" class="form-control" placeholder="VIN или № лота"/>-->
                        <!--                            <div class="input-group-append">-->
                        <!--                                <input type="submit" class="btn btn-outline-warning form-control"-->
                        <!--                                       value="Вытащить инфо"/>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                    </form>-->

                    </div>
                </div>
            </div>
            <div class="card-body bg-darkgray">
                <div class="row">
                    <div class="col-xl">
                        <a href="img/">
                            <img th:src="|/img/*{currentImg}|" style="max-width: 100%; max-height: 370px;"/>
                        </a>
                    </div>
                    <div class="col-xl card bg-dark mx-1 px-0">
                        <div class="card-header">АВТОМОБИЛЬ</div>
                        <div class="card-body">
                            <div class="row selectable">
                                <div class="col-7"><label for="odometer">Одометр, миль:</label></div>
                                <div class="col-5">
                                    <input type="number" id="odometer" name="odometer" th:value="*{odometer}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="engine">Двигатель:</label></div>
                                <div class="col-5">
                                    <input type="number" step=".1" id="engine" name="engine" th:value="*{engine}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="fuel">Топливо:</label></div>
                                <div class="col-5">
                                    <input type="text" id="fuel" name="fuel" th:value="*{fuel}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="driveLine">Привод:</label></div>
                                <div class="col-5">
                                    <input type="text" id="driveLine" name="driveLine" th:value="*{driveLine}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="transmission">Трансмиссия:</label></div>
                                <div class="col-5">
                                    <input type="text" id="transmission" name="transmission"
                                           th:value="*{transmission}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="color">Цвет:</label></div>
                                <div class="col-5">
                                    <input type="text" id="color" name="color" th:value="*{color}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl card bg-dark mx-1 px-0">
                        <div class="card-header">ПРОИСШЕСТВИЕ</div>
                        <div class="card-body">
                            <div class="row selectable">
                                <div class="col-7"><label for="loss">Урон:</label></div>
                                <div class="col-5">
                                    <input type="text" id="loss" name="loss" th:value="*{loss}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="damage">Повреждение:</label></div>
                                <div class="col-5">
                                    <input type="text" id="damage" name="damage" th:value="*{damage}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="runAndDrive">Заводится и едет:</label></div>
                                <div class="col-5">
                                    <input type="text" id="runAndDrive" name="runAndDrive" th:value="*{runAndDrive}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="starts">Заводится:</label></div>
                                <div class="col-5">
                                    <input type="text" id="starts" name="starts" th:value="*{starts}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-7"><label for="carKeys">Ключи:</label></div>
                                <div class="col-5">
                                    <input type="text" id="carKeys" name="carKeys" th:value="*{carKeys}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl card bg-dark mx-1 px-0">
                        <div class="card-header">ОБЩЕЕ</div>
                        <div class="card-body">
                            <div class="row selectable">
                                <div class="col-5"><label for="lot">Лот:</label></div>
                                <div class="col-7">
                                    <input type="number" id="lot" name="lot" th:value="*{lot}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-5"><label for="vin">VIN:</label></div>
                                <div class="col-7">
                                    <input type="text" id="vin" name="vin" th:value="*{vin}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-5"><label for="dateOfComing">Дата прибытия:</label></div>
                                <div class="col-7">
                                    <input type="date" id="dateOfComing" name="dateOfComing" th:value="*{dateOfComing}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-5"><label for="containerNumber">Номер контейнера:</label></div>
                                <div class="col-7">
                                    <input type="text" id="containerNumber" name="containerNumber"
                                           th:value="*{containerNumber}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                            </div>
                            <div class="row selectable">
                                <div class="col-5">Расходы:</div>
                                <div class="col-7 money" th:text="*{spending}"></div>
                            </div>
                            <div class="row selectable"
                                 th:if="${car.user.authorities.iterator().next().authority.equals('ADMIN')||car.user.authorities.iterator().next().authority.equals('POWER')}">
                                <div class="col-5">Выручка:</div>
                                <div class="col-7 money" th:text="*{income}"></div>
                            </div>
                            <div class="row selectable"
                                 th:if="${car.user.authorities.iterator().next().authority.equals('ADMIN')||car.user.authorities.iterator().next().authority.equals('POWER')}">
                                <div class="col-5">Прибыль:</div>
                                <div class="col-7 money" th:text="*{spending+income}"></div>
                            </div>
                            <div class="row selectable">
                                <div class="col-5">+30% от расходов:</div>
                                <div class="col-7 money grey-white" th:text="*{spending*-1+spending*-0.3}"></div>
                            </div>
                            <div class="row selectable"
                                 th:if="${#authentication.getAuthorities().iterator().next().authority.equals('POWER')||#authentication.getAuthorities().iterator().next().authority.equals('ADMIN')}">
                                <div class="col-5"><label for="select-user">Владелец:</label></div>
                                <div class="col-7">
                                    <select id="select-user" name="user"
                                            class="form-control-sm bg-dark text-light read-only-input"
                                            disabled>
                                        <option th:each="user:${users}" th:value="${user.id}"
                                                th:text="${user.username}"
                                                th:selected="${user.equals(car.user)}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-light"
                                th:onclick="|goto(${#authentication.name.equals(car.user.username)}?'/cars/':'/cars/orders/')|">
                            << Выбор авто
                        </button>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-outline-light" onclick="goto('notes/')">Все записи >>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:insert="~{parts/new-note :: create}"></div>
</div>

<div th:insert="~{parts/header-menu :: menu}"></div>

<script src="/js/app.js"></script>
<script src="/js/car.js"></script>
<script src="/js/notesAndSpares.js"></script>
</body>
</html>
