<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <link href="/css/datepicker.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">


<p th:text="${car.getMake()}+' '+${car.getModel()}"></p>

<form id="dateform" th:action="'/cars/'+${car.id}+'/notes'">

    <input id="datepicker" name="date"/>

</form>

<a href="./">back</a>


<script src="/js/lang/ru.js"></script>
<script src="/js/datepicker.js"></script>
<script>
    datePickerController.createDatePicker({
        formElements: {"datepicker": "%d.%m.%Y"},
        statusFormat: "%l, %j %F %Y",
        staticPos: true,
        hideInput: true,
        callbackFunctions: {
            "datereturned": [formsubmit]
        }
    });

    function formsubmit() {
        var form = document.getElementById('dateform');
        form.submit();
    }

</script>

</body>
</html>
