<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="container">
    <div class="card bg-danger my-5 p-2">
        <span th:text="${msg}"></span>
    </div>
    <div class="container">
        <button type="button" class="btn btn-outline-light" onclick="history.back()"><< Назад</button>
    </div>
</div>

<script src="/js/app.js"></script>
</body>
</html>
