<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="tabs">
    <div class="tab">
        <h2>Ошибка</h2>
    </div>
</div>
<main class="error">
    <div th:text="${msg}"></div>
</main>
<footer>
    <button type="button" class="btn outline" onclick="history.back()"><< Назад</button>
</footer>

<script src="/js/app.js"></script>
</body>
</html>
