<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">

<div class="card bg-dark">
    <div class="row" style="text-align: center;">
        <div class="col-6">
            <button id="btn-edit-budget" type="button"
                    onclick="editBudget();"
                    class="btn btn-outline-warning btn-sm">Изменить бютжет
            </button>
            <div class="input-group">
                <input id="input-budget" type="number" step="0.01" min="0" max="9999999"
                       class="form-control-sm" placeholder="0.00" th:value="${budget}"
                       oninput="cuttingDecimalPlaces(this)"/>
                <div class="input-group-append">
                    <button id="btn-submit-budget" type="button"
                            onclick="submitBudget();"
                            class="btn btn-outline-success btn-sm">>>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6" th:text="'Баланс: '+${budget+balance}"></div>
    </div>
</div>

<script>
    var btnEditBudget = document.getElementById("btn-edit-budget");
    var inputBudget = document.getElementById("input-budget");
    var btnSubmitBudget = document.getElementById("btn-submit-budget");

    inputBudget.style.display = "none";
    btnSubmitBudget.style.display = "none";

    function editBudget() {
        btnEditBudget.style.display = "none";
        inputBudget.style.display = "block";
        btnSubmitBudget.style.display = "block";
    }

    function submitBudget() {
        btnEditBudget.style.display = "block";
        inputBudget.style.display = "none";
        btnSubmitBudget.style.display = "none";

        var formData = new FormData();
        formData.append("name", "budget");
        formData.append("value", inputBudget.value);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", "/params/budget/");
        xhr.send(formData);
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200)
                window.parent.location.reload();
        }
    }
</script>
<script src="/js/app.js"></script>
</body>
</html>
