<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка и просмотр изображений</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<iframe class="header-menu" src="/header-menu/" scrolling="no"></iframe>
<br/>

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <div class="row">
                <button type="button" class="btn btn-outline-light" onclick="goto('../')"><< Назад</button>
                <div class="header-text align-start" th:text="|${car.make} ${car.model}|"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-header">
                <form id="form-send-file" action="./" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div style="margin-left: 20px;">
                            <input id="input-file" name="file" type="file" class="form-control-file"/>
                        </div>
                        <div style="margin-left: 20px;">
                            <button type="button"
                                    class="btn btn-outline-success"
                                    th:onclick="|sendFile('${maxFileSize}');|">>>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <br/>

            <div class="card-columns">
                <div class="container" th:each="img:${imgs}">
                    <div class="card bg-dark" style="position: relative;">
                        <img style="position: relative; max-width: 100%;" th:src="'/'+${img.filename}"/>
                        <button
                                type="button"
                                class="btn btn-outline-success"
                                style="position: absolute; top: 5px; left: 5px;"
                                th:data-car="${img.car.id}"
                                th:data-filename="${img.filename}"
                                th:onclick="|setDefault(getAttribute('data-car'), getAttribute('data-filename'));|"
                        >&#10003;
                        </button>
                        <button
                                type="button"
                                class="btn btn-outline-danger"
                                style="position: absolute; bottom: 5px; right: 5px;"
                                th:data-car="${img.car.id}"
                                th:data-filename="${img.filename}"
                                th:onclick="|deleteImg(getAttribute('data-car'), getAttribute('data-filename'));|"
                        >&#10008;
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-light" onclick="goto('../')"><< Назад</button>
        </div>
    </div>
</div>

<script src="/js/app.js"></script>
<script src="/js/images.js"></script>
</body>
</html>