<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка изображений</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<br/>

<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4" style="text-align: right;">
            <div id="budget"></div>
        </div>
    </div>
</div>
<br/>

<div class="container">
    <div class="card text-white bg-dark">
        <div class="card-header">
            <div class="row">
                <button type="button" class="btn btn-outline-light" onclick="goto('../')"><< Назад</button>
                <div th:text="${car.make}+' '+${car.model}" style="margin-left: 20px; font-size: 30px;"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-header">
                <form id="sendFile" action="./" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div style="margin-left: 20px;">
                            <input id="file_input" name="file" type="file" class="form-control-file"/>
                        </div>
                        <div style="margin-left: 20px;">
                            <button type="button"
                                    class="btn btn-outline-success"
                                    th:data-maxFileSize="${maxFileSize}"
                                    th:onclick="|sendFile(getAttribute('data-maxFileSize'));|">>>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <br/>

            <div class="card-columns">
                <div class="container" th:each="img:${imgs}">
                    <div class="card text-white bg-dark" style="position: relative;">
                        <img style="position: relative; max-width: 100%;" th:src="'/'+${img.filename}"/>
                        <button
                                type="button"
                                class="btn btn-outline-success"
                                style="position: absolute; top: 5px; left: 5px;"
                                th:data-car="${img.car.id}"
                                th:data-filename="${img.filename}"
                                th:onclick="|setDefault(getAttribute('data-car'), getAttribute('data-filename'));|"
                        >&#10003;
                        </button>
                        <button
                                type="button"
                                class="btn btn-outline-danger"
                                style="position: absolute; bottom: 5px; right: 5px;"
                                th:data-car="${img.car.id}"
                                th:data-filename="${img.filename}"
                                th:onclick="|deleteImg(getAttribute('data-car'), getAttribute('data-filename'));|"
                        >&#10008;
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-light" onclick="goto('../')"><< Назад</button>
        </div>
    </div>
</div>

<script src="/js/app/app.js"></script>
<script src="/js/app/images.js"></script>
</body>
</html>