<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Загрузка и просмотр изображений</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div th:insert="~{parts/header-menu :: menu}"></div>

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <div class="row">
                <div class="col-lg">
                    <div class="mb-5">
                        <span class="header-text" th:text="|${car.make} ${car.model} ${car.year}|"></span>
                    </div>
                    <input type="button" class="btn btn-outline-light" onclick="goto('../')" value="<< Назад">
                </div>
                <div class="col-lg">
                    <div class="text-right pr-3">
                        <a href="#" class="modal-show"
                           th:data-content="'<img class=\'modal-img\' src=\'/img/'+${car.currentImg}+'\'/>'">
                            <img th:src="|/img/${car.currentImg}|" style="max-height: 170px;" src="#" alt="#"
                                 title="Текущее изображение"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">

            <form id="form-send-file" action="./" method="post" enctype="multipart/form-data"
                  sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <div class="container input-group mb-5">
                    <input id="input-file" name="file" type="file" class="custom-file"/>
                    <div class="input-group-append">
                        <input type="button" class="btn btn-outline-success"
                               th:onclick="|sendFile('${maxFileSize}')|" value=">>">
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-lg-3 my-3" th:each="img:${imgs}">
                    <div class="card bg-dark" style="position: relative;">
                        <a href="#" class="modal-show"
                           th:data-content="'<img class=\'modal-img\' src=\'/img/'+${car.id}+'_'+${img.id}+'.jpg\'/>'">
                            <img th:src="|/img/${car.id}_${img.id}.jpg|" style="position: relative; max-width: 100%;"
                                 src="#"
                                 alt="#"/>
                        </a>

                        <form method="post" th:action="|/cars/${car.id}/|"
                              sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="hidden" name="location" th:value="${#httpServletRequest.requestURL}">
                            <input type="hidden" name="currentImg" th:value="|${car.id}_${img.id}.jpg|">
                            <input type="submit" class="btn btn-outline-success"
                                   style="position: absolute; top: 5px; left: 5px;" value="&#10003;">
                        </form>
                        <form method="post" th:action="|/cars/${car.id}/img/|"
                              sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="hidden" name="id" th:value="${img.id}">
                            <input type="submit" class="btn btn-outline-danger"
                                   style="position: absolute; bottom: 5px; right: 5px;" value="&#10008;">
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-light" onclick="goto('../')"><< Назад</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/app.js"></script>
<script src="/js/images.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>
