<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<iframe class="header-menu" src="/header-menu/" scrolling="no"></iframe>
<br/>

<div class="container">
    <button type="button" class="btn btn-outline-success" onclick="goto('new-car/')">&#10010;</button>
</div>
<br/>

<div class="container-fluid row">
    <div class="container col-4" th:each="car:${cars}">
        <div class="card bg-dark" th:onclick="|goto('/cars/${car.id}/');|">
            <div class="card-header">
                <div th:text="|${car.make} ${car.model}|"></div>
                <div th:text="${textProperties.header}"></div>
            </div>
            <div class="card-body" style="height: 400px; text-align: center;">
                <div th:text="${textProperties.body}"></div>
                <img th:src="|/img/${car.imgFilename}|"
                     th:if="${car.imgFilename}"
                     style="max-width: 100%; max-height: 350px;">
            </div>
            <div class="card-footer">
                <div class="card-text" th:text="${textProperties.footer}"></div>
                <div class="money" th:text="${car.spending+car.income}"></div>
            </div>
        </div>
        <br/>
    </div>
</div>

<div class="container">
    <form action="/load-data/" method="POST" enctype="multipart/form-data">
        <div class="card bg-dark">
            <div class="card-header">
                Загрузка базы из файла
            </div>
            <div class="card-body text-danger">
                Внимание! Загрузка базы уничтожит всю текущую информацию и восстановит состояние базы, содержащееся в загружаемом файле!
                <div class="row">
                    <div class="col">
                        <input type="file" name="file">
                    </div>
                    <div class="col align-end">
                        <button type="submit" class="btn btn-danger">>></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/js/app.js"></script>
</body>
</html>