<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<a href="/cars/newCar">Add new car</a>


<table>
    <tr th:each="car : ${cars}" th:with="carId=@{'/cars/'+${car.getId()}}">
        <td>
            <a th:href="${carId}" th:text="${car.getId()}"></a>
        </td>
        <td>
            <a th:href="${carId}" th:text="${car.getMake()}"></a>
        </td>
        <td>
            <a th:href="${carId}" th:text="${car.getModel()}"></a>
        </td>
    </tr>
</table>


</body>
</html>