<!DOCTYPE html>
<html lang="ru" xmlns: xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Вход</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body class="login-page">
<div class="container">
    <div class="card">
        <div th:if="${param.error}" class="alert-danger">Ошибка в имени или пароле.</div>
        <div th:if="${param.logout}" class="alert-info">Вы вышли.</div>
        <form action="/login" method="post" class="login-wrapper">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <label for="username">Имя</label>
            <input id="username" type="text" name="username" autofocus/>
            <label for="password">Пароль</label>
            <input id="password" type="password" name="password"/>
            <input type="submit" class="btn green outline" value="Войти"/>
        </form>
    </div>
</div>
</body>
</html>
