<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="container my-5">
    <div class="card card-body bg-dark">
        <form action="/login/" method="post" class="form-inline">
            <input type="text" name="username" class="form-control m-2" placeholder="Имя">
            <input type="password" name="password" class="form-control m-2" placeholder="Пароль">
            <input type="submit" class="btn btn-outline-success m-2" value="Войти">
        </form>
    </div>
</div>

<script src="/js/app.js"></script>
</body>
</html>