<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Аукцион</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="tabs">
    <div class="tab">
        <h2>Аукцион</h2>
    </div>
</div>
<main class="card" th:object="${lot}">
    <div class="card-header">
        <form id="changeLot" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="hidden" name="_method" value="put"/>
        </form>
        <form id="deleteLot" method="post" onsubmit="return confirm('Вы действительно хотите удалить машину?');">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="hidden" name="_method" value="delete"/>
        </form>
        <input form="changeLot" type="text" name="make" th:value="*{make}"
               class="read-only-input h2" readonly/>
        <input form="changeLot" type="text" name="model" th:value="*{model}"
               class="read-only-input h2" readonly/>
        <input form="changeLot" type="number" min="1970" name="year" th:value="*{year}"
               class="read-only-input h2" readonly/>
        <div class="v-center row nowrap jc-sb" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
            <input form="changeLot" id="btn-change" type="button" onclick="clickChangeCar()"
                   class="btn outline yellow" value="<< править"/>
            <input form="changeLot" id="btn-submit" type="submit"
                   class="btn outline green" style="display: none" value="сохранить >>"/>
            <input form="deleteLot" type="submit" class="btn outline red" value="&#10008; удалить"/>
        </div>
    </div>
    <div class="card-body list-grid">
        <div class="card">
            <div th:each="img:${lot.imgs}" th:id="|modal${img.id}|" class="modal"
                 onclick="location.href='#close'">
                <img th:src="|/img/lot/${lot.id}/${img.id}.jpg|" src="#" alt="#" title="Скрыть"/>
            </div>
            <div class="slider">
                <div th:each="img:${lot.imgs}">
                    <a th:id="${img.id}" class="anchor"></a>
                    <a th:href="|#modal${img.id}|">
                        <img th:src="|/img/lot/${lot.id}/${img.id}.jpg|" src="#" alt="#" title="Увеличить"/>
                    </a>
                    <form method="post" th:action="|/auc/${lot.id}|"
                          sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                        <input type="hidden" name="_method" value="put"/>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <input type="hidden" name="currentImg" th:value="|lot/${lot.id}/${img.id}.jpg|"/>
                        <input type="hidden" name="location"
                               th:value="${#httpServletRequest.requestURL}"/>
                        <input type="submit" class="btn outline green btn-cur" value="&#10003;"/>
                    </form>
                    <form method="post" th:action="|/auc/${lot.id}/img|"
                          sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <input type="hidden" name="id" th:value="${img.id}"/>
                        <input type="submit" class="btn outline red btn-del" value="&#10008;"/>
                    </form>
                </div>
            </div>
            <div class="row wrap">
                <img th:each="img:${lot.imgs}"
                     th:src="|/img/lot/${lot.id}/${img.id}.jpg|"
                     th:onclick="'location.href=\'#' + ${img.id} + '\''"
                     class="img-thumbnail" src="#" alt="#" title="Показать"/>
            </div>

            <div class="card-footer">
                <form id="form-send-file" method="post" th:action="|/auc/${lot.id}/img|" enctype="multipart/form-data"
                      sec:authorize="hasAnyAuthority('POWER', 'ADMIN')" class="row w-100">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <input id="input-file" name="file" type="file"/>
                    <input type="button" class="btn outline green f1"
                           th:onclick="|sendFile('${maxFileSize}')|" value=">>"/>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">АВТОМОБИЛЬ</div>
            <div class="card-body">
                <div class="row selectable">
                    <label for="vin">VIN:</label>
                    <input form="changeLot" type="text" id="vin" name="vin" th:value="*{vin}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="odometer">Одометр, миль:</label>
                    <input form="changeLot" type="number" id="odometer" name="odometer" th:value="*{odometer}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="engine">Двигатель:</label>
                    <input form="changeLot" type="number" step=".1" id="engine" name="engine"
                           th:value="*{engine}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="fuel">Топливо:</label>
                    <input form="changeLot" type="text" id="fuel" name="fuel" th:value="*{fuel}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="driveLine">Привод:</label>
                    <input form="changeLot" type="text" id="driveLine" name="driveLine" th:value="*{driveLine}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="transmission">Трансмиссия:</label>
                    <input form="changeLot" type="text" id="transmission" name="transmission"
                           th:value="*{transmission}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="color">Цвет:</label>
                    <input form="changeLot" type="text" id="color" name="color" th:value="*{color}"
                           class="read-only-input f1 right" readonly/>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">ПРОИСШЕСТВИЕ</div>
            <div class="card-body">
                <div class="row selectable">
                    <label for="loss">Урон:</label>
                    <input form="changeLot" type="text" id="loss" name="loss" th:value="*{loss}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="damage">Повреждение:</label>
                    <input form="changeLot" type="text" id="damage" name="damage" th:value="*{damage}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="runAndDrive">Заводится и едет:</label>
                    <input form="changeLot" type="text" id="runAndDrive" name="runAndDrive"
                           th:value="*{runAndDrive}" class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="starts">Заводится:</label>
                    <input form="changeLot" type="text" id="starts" name="starts" th:value="*{starts}"
                           class="read-only-input f1 right" readonly/>
                </div>
                <div class="row selectable">
                    <label for="carKeys">Ключи:</label>
                    <input form="changeLot" type="text" id="carKeys" name="carKeys" th:value="*{carKeys}"
                           class="read-only-input f1 right" readonly/>
                </div>
            </div>
        </div>
        <div class="card">
            <form id="bid" method="post" th:action="|/auc/${lot.id}/bid|">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="_method" value="put"/>
            </form>
            <div class="card-header">СТАВКА</div>
            <div class="card-body">
                <div class="row selectable">
                    <label for="currentBid">Текущая ставка:</label>
                    <input form="changeLot" type="number" step="1" id="currentBid" name="currentBid"
                           th:value="${lot.currentBid}" class="read-only-input f1 right" readonly/>
                    <label for="currentBid">USD</label>
                </div>
                <div class="row selectable">
                    <label for="step">Шаг аукциона:</label>
                    <input form="bid" id="step" type="number" step="1" name="step" value="150"
                           class="f1 right" readonly/>
                    <label for="step">USD</label>
                </div>
                <div class="row selectable">
                    <label for="userPhone">Номер телефона: +380</label>
                    <input form="bid" type="tel" class="f1"
                           pattern="\d{2}[ -]?(\d{3}[ -]?\d{2}[ -]?\d{2}||\d{2}[ -]?\d{2}[ -]?\d{3})"
                           id="userPhone" name="userPhone" placeholder="YY XXX XXXX" required/>
                </div>
                <input form="bid" type="submit" class="btn green" value="Повысить ставку"/>
                <div class="row selectable" sec:authorize="hasAnyAuthority('ADMIN', 'POWER')">
                    <div>Телефон последнего участника:</div>
                    <div th:if="${lot.userPhone}" class="f1 right nowrap" th:text="'+380 '+${lot.userPhone}"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/car.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
