<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление авто</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="w-75">
    <div class="tabs">
        <a class="tab" href="/car/new-car"
           th:classappend="${servletPath.equals('/car/new-car')?'disabled active':null}">
            <h2>Новое авто</h2>
        </a>
        <a class="tab" href="/auc/new-lot"
           th:classappend="${servletPath.equals('/auc/new-lot')?'disabled active':null}">
            <h2>Новый лот</h2>
        </a>
    </div>
    <main class="card">
        <div class="card-header">
            <h3 id="header">Марка, модель, год выпуска</h3>
        </div>
        <div class="card-body">
            <form class="row collapsing p-1" id="form-add-car" action="/car" method="post" th:object="${car}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="f2">
                    <label for="input-make">Марка:</label>
                    <input id="input-make" type="text" th:field="*{make}"/>
                </div>
                <div class="f2">
                    <label for="input-model">Модель:</label>
                    <input id="input-model" type="text" th:field="*{model}"/>
                </div>
                <div class="f1">
                    <label for="input-year">Год&nbsp;выпуска:</label>
                    <input id="input-year" type="number" min="1970" th:field="*{year}"/>
                </div>
                <div class="f1">
                    <label for="select-user">Владелец:</label>
                    <select id="select-user" name="user">
                        <option th:each="user:${users}" th:value="${user.id}" th:text="${user.username}"
                                th:selected="${user.username.equals('Вячеслав')}"></option>
                    </select>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a href="../" class="btn outline red nowrap"><< Отмена</a>
            <input id="btn-add-submit" type="button" class="btn outline green right nowrap" value="Добавить >>"/>
        </div>
    </main>
</div>
<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/new-car.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
