<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<iframe src="/header-menu/" width="100%" height="50px" scrolling="no" style="border: 0;"></iframe>
<br/>

<div class="container">
    <div class="card bg-dark text-white">
        <form id="form-new-car" action="/cars/" method="post" th:object="${car}">
            <div class="card-header">
                <h5 id="header"></h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-6">
                        <input id="input-make" type="text" class="form-control"
                               placeholder="Марка" th:field="*{make}"/>
                    </div>
                    <div class="col-6">
                        <input id="input-model" type="text" class="form-control"
                               placeholder="Модель" th:field="*{model}"/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-danger" onclick="goto('../')">
                            << Отмена
                        </button>
                    </div>
                    <div class="col-2">
                        <button id="btn-submit" type="button" class="btn btn-outline-success">
                            Добавить >>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    var inputMake = document.getElementById('inputMake');
    var inputModel = document.getElementById('inputModel');
    var header = document.getElementById('header');

    inputMake.addEventListener('keyup', input);
    inputModel.addEventListener('keyup', input);

    function input() {
        header.textContent = inputMake.value + ' ' + inputModel.value;
    }
</script>

<script src="/js/new-car.js"></script>
<script src="/js/app.js"></script>
</body>
</html>