<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">

<br/>
<div class="container">
    <div class="card text-white bg-secondary">
        <form action="/cars" method="post" enctype="multipart/form-data" th:object="${car}">
            <div class="card-header" id="header">
            </div>
            <div class="card-body">
                <div class="form-group col-6">
                    <input type="text" class="form-control" id="make" placeholder="Марка" th:field="*{make}"/>
                </div>
                <div class="form-group col-6">
                    <input type="text" class="form-control" id="model" placeholder="Модель" th:field="*{model}"/>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="img" placeholder="Фото" name="file"/>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-success">Добавить</button>
            </div>
        </form>
    </div>
</div>

<br/>
<div class="container">
    <form method="get" action="/cars">
        <button type="submit" class="btn btn-outline-danger"><< Отмена</button>
    </form>
</div>

<script>
    var make = document.getElementById('make');
    var model = document.getElementById('model');
    var header = document.getElementById('header');

    make.addEventListener('keyup', input);
    model.addEventListener('keyup', input);

    function input() {
        header.textContent = make.value + ' ' + model.value;
    }
</script>

</body>
</html>