<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-secondary text-light">

<div class="container">
    <div class="card-body">
        <div class="card bg-secondary" th:each="note:${notes}">
            <div class="container row" th:object="${note}">
                <div class="col-2" th:text="*{date}"></div>
                <div class="col-7" th:text="*{description}"></div>
                <div class="col-3" th:text="*{value}"></div>
            </div>
        </div>
    </div>
</div>
<button type="button" id="back_btn" class="btn btn-outline-light"><< Назад</button>

<script src="/js/app/app.js"></script>
</body>
</html>