<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Все записи по авто</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="w-75">
    <div class="tabs">
        <div class="tab">
            <h2>Баланс</h2>
        </div>
    </div>
    <main class="card">
        <div class="card-header" th:object="${car}">
            <div class="info">
                <h2 class="model" th:text="|*{make} *{model} *{year}|"></h2>
                <div class="bot">
                    <a th:href="|/car/*{id}|" class="btn outline button"><< Назад</a>
                </div>
                <div id="modal" class="modal" onclick="location.href='#close'">
                    <img th:src="|/img/*{currentImg}|" src="#" alt="#" title="Скрыть"/>
                </div>
                <a class="image" href="#modal">
                    <img th:src="|/img/*{currentImg}|" src="#" alt="#" title="Увеличить"/>
                </a>
                <div class="balance">
                    <div class="row selectable">
                        <div>Расходы:</div>
                        <div class="money f1 right" th:text="*{spending}"></div>
                    </div>
                    <div class="row selectable" th:if="${roles.contains('ADMIN')||roles.contains('POWER')}">
                        <div>Выручка:</div>
                        <div class="money f1 right" th:text="*{income}"></div>
                    </div>
                    <div class="row selectable" th:if="${roles.contains('ADMIN')||roles.contains('POWER')}">
                        <div>Прибыль:</div>
                        <div class="money f1 right" th:text="*{spending+income}"></div>
                    </div>
                    <div class="row selectable">
                        <div>+30% от расходов:</div>
                        <div class="money gray-white f1 right" th:text="*{spending*-1+spending*-0.3}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="m-1" th:insert="~{parts/new-note :: create}"></div>

            <div th:each="note:${notes}" class="row selectable">
                <form class="row wrap f1" method="post" th:action="|/car/${car.id}/note/${note.id}|"
                      th:object="${note}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <input type="hidden" name="_method" value="put"/>
                    <input type="date" th:id="|input-date-*{id}|" name="date" th:value="*{date}"
                           class="read-only-input f1" readonly/>
                    <input type="text" th:id="|input-desc-*{id}|" name="description" th:value="*{description}"
                           class="read-only-input f2" readonly/>
                    <input th:id="|input-value-*{id}|" oninput="cuttingDecimalPlaces(this)"
                           type="number" step="0.01" min="-9999999" max="9999999" name="value"
                           class="read-only-input f1 money" th:value="*{value}" readonly/>
                    <div sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                        <input th:id="|btn-change-*{id}|" type="button"
                               th:onclick="|clickChange(${note.id})|"
                               class="btn outline yellow" value="<<"/>
                        <input th:id="|btn-submit-*{id}|" type="submit"
                               class="btn outline green" style="display: none" value=">>"/>
                    </div>
                </form>
                <form method="post" th:action="|/car/${car.id}/note/${note.id}|"
                      sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" class="btn outline red" value="&#10008;"/>
                </form>
            </div>
        </div>

        <div class="card-footer">
            <a th:href="|/car/${car.id}|" class="btn outline"><< Назад</a>
        </div>
    </main>
</div>
<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/app.js"></script>
<script src="/js/notes-spares.js"></script>
</body>
</html>
