<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Список запчастей</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div th:insert="~{parts/header-menu :: menu}"></div>

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            Сумма: <span th:text="${sum}" class="money"></span>
        </div>
        <div class="card-body">
            <div class="card bg-dark my-2" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                <form method="post" action="/spares/" th:object="${spare}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <div class="card-body form-group row">
                        <div class="col-lg-3 my-1">
                            <input id="input-spare-date" type="date" class="form-control" th:field="*{date}"/>
                        </div>
                        <div class="col-lg-4 my-1">
                            <input type="text" class="form-control" placeholder="Наименование запчасти"
                                   th:field="*{description}"/>
                        </div>
                        <div class="col-lg-2 my-1 input-group">
                            <input id="input-spare-buy" oninput="cuttingDecimalPlaces(this)"
                                   type="number" step="0.01" max="9999999" class="form-control"
                                   placeholder="Покупка" th:field="*{buy}">
                        </div>
                        <div class="col-lg-2 my-1 input-group">
                            <input id="input-spare-sale" oninput="cuttingDecimalPlaces(this)"
                                   type="number" step="0.01" max="9999999" class="form-control"
                                   placeholder="Продажа" th:field="*{sale}">
                        </div>
                        <div class="col-lg-1 input-group">
                            <input type="submit" class="btn btn-outline-success" onclick="spareSubmit()" value=">>">
                        </div>
                    </div>
                </form>
            </div>

            <div class="card px-3 bg-dark selectable" th:each="spare:${spares}">
                <div class="row">
                    <div class="col-11">
                        <form method="post" th:action="|/spares/${spare.id}/|" th:object="${spare}">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="_method" value="put"/>
                            <div class="row">
                                <div class="col-3">
                                    <input type="date" th:id="|input-date*{id}|" name="date" th:value="*{date}"
                                           class="form-control-sm bg-dark text-light read-only-input" readonly/>
                                </div>
                                <div class="col-4">
                                    <input type="text" th:id="|input-name*{id}|" name="name"
                                           th:value="*{description}" class="read-only-input" readonly/>
                                </div>
                                <div class="col-2">
                                    <input th:id="|input-buy*{id}|" oninput="cuttingDecimalPlaces(this)" type="number"
                                           step="0.01" min="-9999999" max="9999999" class="read-only-input money"
                                           name="buy" th:value="*{buy}" readonly/>
                                </div>
                                <div class="col-2">
                                    <input th:id="|input-sale*{id}|" oninput="cuttingDecimalPlaces(this)" type="number"
                                           step="0.01" min="-9999999" max="9999999" class="read-only-input money"
                                           name="sale" th:value="*{sale}" readonly/>
                                </div>
                                <div class="col-1" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                                    <input th:id="|btn-change*{id}|" type="button"
                                           th:onclick="|clickChange(*{id})|"
                                           class="btn btn-outline-warning btn-sm" value="<<"/>
                                    <input th:id="|btn-submit*{id}|" type="submit"
                                           class="btn btn-outline-success btn-sm" style="display: none" value=">>"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-1" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
                        <form method="post" th:action="|/spares/${spare.id}/|">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" class="btn btn-outline-danger btn-sm" value="&#10008;"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-outline-light" onclick="goto('../')" value="<< Назад"/>
        </div>
    </div>
</div>

<script src="/js/app.js"></script>
<script src="/js/spares.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>
