<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Страница авто</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div th:insert="~{parts/header-menu :: menu}"></div>

<div class="container">
    <div class="card bg-dark">

        <div class="card-header row mx-1">
            <div th:text="${user.username}" class="col header-text"></div>
            <div class="col text-right">
                <form method="post" th:action="|/user/${user.username}/|">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" class="btn btn-outline-danger" value="&#10008;">
                </form>
            </div>
        </div>

        <form method="post" th:action="|/user/${user.username}/|">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="_csrf" th:name="${_csrf.token}">

            <div class="card-body px-5">
                <div class="row mb-3">
                    <div class="col">
                        <input type="password" name="password" class="form-control" placeholder="Пароль"
                               th:classappend="(${passwordError}or${passConfirmError})?'is-invalid':''">
                        <div class="invalid-feedback" th:if="${passwordError}" th:text="${passwordError}"></div>
                    </div>
                    <div class="col">
                        <input type="password" name="passwordConfirm" class="form-control"
                               placeholder="Повторите пароль"
                               th:classappend="${passConfirmError}?'is-invalid'">
                        <div class="invalid-feedback" th:if="${passConfirmError}" th:text="${passConfirmError}"></div>
                    </div>
                </div>
                <div th:each="role:${roles}" sec:authorize="hasAuthority('ADMIN')">
                    <label>
                        <input type="checkbox" th:name="${role.name()}"
                               th:checked="${#lists.contains(user.roles, role)}">
                        <span th:text="${role}"></span>
                    </label>
                </div>
                <div class="alert-danger" th:if="${accessError}" th:text="${accessError}"></div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <input type="button" class="btn btn-outline-light" onclick="goto('../')" value="<< Назад">
                    </div>
                    <div class="col text-right">
                        <input type="submit" class="btn btn-outline-success" value="Подтвердить >>">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/app.js"></script>
</body>
</html>
