<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список пользователей</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="mx-5 mb-3 text-right header-text">
    Посещения
</div>

<div class="card bg-dark w-50 mx-auto">
    <div class="card-header">
        <h5>Активность пользователей</h5>
        <form>
            <label>от
                <input type="datetime-local" name="from" th:value="${from}" class="form-control-sm bg-dark text-light">
            </label>
            <label>до
                <input type="datetime-local" name="to" th:value="${to}" class="form-control-sm bg-dark text-light">
            </label>
            <input type="submit" value="показать" class="btn btn-sm btn-outline-light">
        </form>
    </div>

    <div class="card-body">
        <div class="card px-3 bg-dark selectable" th:each="visit:${visits}">
            <div class="float-row">
                <div th:text="${#temporals.format(visit.time, 'dd.MM.yyyy HH:mm:ss')}"></div>
                <span>
                    <a href="#" th:href="|/user/${visit.user.id}|">
                        <div th:text="${visit.user.username}"></div>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="../" class="btn btn-outline-light"><< Назад</a>
    </div>
</div>

<div th:insert="~{parts/header-menu :: menu}"></div>

<script src="/js/app.js"></script>
</body>
</html>
