<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список пользователей</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="w-75">
    <div class="tabs">
        <div class="tab">
            <h2>Посещения</h2>
        </div>
    </div>
    <main class="card">
        <div class="card-header">
            <div>
                <h3>Активность пользователей</h3>
                <a href="/user" class="btn outline"><< Назад</a>
            </div>
            <form>
                <label>от
                    <input type="datetime-local" name="from" th:value="${from}"
                           class="form-control-sm bg-dark text-light">
                </label>
                <label>до
                    <input type="datetime-local" name="to" th:value="${to}" class="form-control-sm bg-dark text-light">
                </label>
                <input type="submit" value="показать" class="btn outline">
            </form>
        </div>

        <div class="card-body">
            <div class="card selectable" th:each="visit:${visits}">
                <div class="row">
                    <div class="f1" th:text="${#temporals.format(visit.time, 'dd.MM.yyyy HH:mm:ss')}"></div>
                    <a class="f4" href="#" th:href="|/user/${visit.user.id}|" th:text="${visit.user.username}"></a>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/user" class="btn outline"><< Назад</a>
        </div>
    </main>
</div>
<nav th:insert="~{parts/header-menu :: menu}"></nav>

<script src="/js/app.js"></script>
</body>
</html>
