<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="album(album)">
    <div th:each="img:${car.imgs.?[album.equals(#root.album)]}" th:id="|modal${img.id}|" class="modal"
         onclick="location.href='#close'">
        <img th:src="|/img/car/${car.id}/${album}/${img.id}.jpg|" src="#" alt="#" title="Скрыть"/>
    </div>
    <div class="slider">
        <div th:each="img:${car.imgs.?[album.equals(#root.album)]}">
            <a th:id="${img.id}" class="anchor"></a>
            <a th:href="|#modal${img.id}|">
                <img th:src="|/img/car/${car.id}/${album}/${img.id}.jpg|" src="#" alt="#" title="Увеличить"/>
            </a>
            <form method="post" th:action="|/car/${car.id}|"
                  sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}">
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="location"
                       th:value="${#httpServletRequest.requestURL}"/>
                <input type="hidden" name="currentImg" th:value="|car/${car.id}/${album}/${img.id}.jpg|"/>
                <input type="hidden" name="user" th:value="${car.user.id}">
                <input type="submit" class="btn outline green btn-cur" value="&#10003;"/>
            </form>
            <form method="post" th:action="|/car/${car.id}/img|"
                  sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}">
                <input type="hidden" name="_method" value="delete"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="img" th:value="${img.id}"/>
                <input type="submit" class="btn outline red btn-del" value="&#10008;"/>
            </form>
        </div>
    </div>
    <div class="row wrap">
        <img th:each="img:${car.imgs.?[album.equals(#root.album)]}"
             th:src="|/img/car/${car.id}/${album}/${img.id}.jpg|"
             th:onclick="'location.href=\'#' + ${img.id} + '\''"
             class="img-thumbnail" src="#" alt="#" title="Показать"/>
    </div>
</div>

<form th:fragment="upload(album)" th:id="|form-send-file${album}|" method="post" th:action="|/car/*{id}/${album}/img|"
      enctype="multipart/form-data" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}" class="row w-100">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="file" name="file" th:id="|input-file${album}|"/>
    <input type="button" class="btn outline green f1" th:data1="${maxFileSize}" th:data2="${album}"
           th:onclick="|sendFile(this.getAttribute('data1'), this.getAttribute('data2'))|" value=">>"/>
</form>

</body>
</html>
