<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="menu" class="navbar">
    <div class="navbar-menu">
        <a class="nav-item" href="/car" sec:authorize="${authenticated}"
           th:classappend="${servletPath.equals('/car')||servletPath.equals('/car/order')?'active':null}">
            Список авто
        </a>
        <a class="nav-item" href="/spare" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
           th:classappend="${servletPath.equals('/spare')?'active':null}">
            Запчасти
        </a>
        <a class="nav-item" href="/calculator" sec:authorize="${authenticated}"
           th:classappend="${servletPath.equals('/calculator')?'active':null}">
            Калькулятор
        </a>
        <a class="nav-item" href="/auc" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
           th:classappend="${servletPath.equals('/auc')?'active':null}">
            Аукцион
        </a>
        <a class="nav-item" href="/user" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
           th:classappend="${servletPath.contains('/user')?'active':null}">
            Пользователи
        </a>
    </div>

    <div class="navbar-info">
        <form method="post" action="/param/budget" class="row m-0" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <input type="hidden" name="location" th:value="${requestURI}">

            <label for="input-budget">Баланс: </label>
            <label for="input-budget" class="money" th:text="${budget+balance}"></label>
            <input id="input-budget" type="number" name="paramValue" step="0.01"
                   style="display: none" oninput="cuttingDecimalPlaces(this)"/>
            <input id="btn-add-to-budget" type="button" onclick="editBudget();"
                   class="btn outline green f1" value="&#10010;">
            <input id="btn-submit-budget" type="submit" onclick="submitBudget()"
                   class="btn outline green f1" style="display: none" value=">>">
        </form>

        <a sec:authorize="${isAuthenticated()}" th:href="|/user/${#authentication.getPrincipal().getId()}|"
           class="row m-0">
            <img th:src="|/img/${#authentication.getPrincipal().getCurrentImg()}|"/>
            <div>
                <div sec:authentication="name"></div>
                <form th:action="@{/logout}" method="post" sec:authorize="authenticated">
                    <input type="submit" value="Выход" class="btn outline"/>
                </form>
            </div>
        </a>
        <a sec:authorize="${isAnonymous()}" href="/login" class="btn outline m-1">Вход</a>
    </div>
</div>

</body>
</html>
