<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="menu" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="${authenticated}"
                th:classappend="${#httpServletRequest.requestURI.equals('/car')||#httpServletRequest.requestURI.equals('/car/order')?'active':null}">
                <a class="nav-link" href="/car">Список авто</a>
            </li>
            <li class="nav-item" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
                th:classappend="${#httpServletRequest.requestURI.equals('/car/new-car')?'active':null}">
                <a class="nav-link" href="/car/new-car">Добавить авто</a>
            </li>
            <li class="nav-item" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
                th:classappend="${#httpServletRequest.requestURI.equals('/spare')?'active':null}">
                <a class="nav-link" href="/spare">Запчасти</a>
            </li>
            <li class="nav-item" sec:authorize="${authenticated}"
                th:classappend="${#httpServletRequest.requestURI.equals('/calculator')?'active':null}">
                <a class="nav-link" href="/calculator">Калькулятор</a>
            </li>
            <li class="nav-item" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
                th:classappend="${#httpServletRequest.requestURI.equals('/auc')?'active':null}">
                <a class="nav-link" href="/auc">Аукцион</a>
            </li>
            <li class="nav-item" sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}"
                th:classappend="${#httpServletRequest.requestURI.equals('/user')?'active':null}">
                <a class="nav-link" href="/user">Управление пользователями</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav">
        <li class="nav-item">
            <form th:action="@{/logout}" method="post" sec:authorize="authenticated">
                <span sec:authentication="name"></span>
                <input type="submit" value="Выход" class="btn btn-outline-light btn-sm">
            </form>
            <a href="/login" class="btn btn-outline-light btn-sm" sec:authorize="anonymous">Вход</a>
        </li>
    </ul>

    <ul sec:authorize="${hasAnyAuthority('POWER', 'ADMIN')}" class="navbar-nav">
        <li class="nav-item ml-3">
            <form method="post" action="/param/budget">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="hidden" name="location" th:value="${#httpServletRequest.requestURI}">

                <label for="input-budget">Баланс: </label>
                <span class="money" th:text="${budget+balance}"></span>
                <input id="btn-add-to-budget" type="button" onclick="editBudget();"
                       class="btn btn-outline-success btn-sm" value="&#10010;">
                <div class="input-group input-group-sm">
                    <input id="input-budget" type="number" name="paramValue" step="0.01" min="0" max="9999999"
                           class="form-control" style="display: none"
                           oninput="cuttingDecimalPlaces(this)"/>
                    <div class="input-group-append">
                        <input id="btn-submit-budget" type="submit" onclick="submitBudget()"
                               class="btn btn-outline-success btn-sm" style="display: none" value=">>">
                    </div>
                </div>
            </form>
        </li>
    </ul>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</nav>

</body>
</html>
