<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<form method="post" th:action="|/car/${car.id}/note|" th:object="${note}" th:fragment="create"
      class="row collapsing" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="hidden" name="location" th:value="${#httpServletRequest.requestURL}"/>
    <input class="f1" id="input-date" type="date" th:field="*{date}"/>
    <input class="f2" type="text" placeholder="Наименование"  th:field="*{description}"/>
    <select class="f1" id="select-negative">
        <option>Расход</option>
        <option th:if="${car.user.authorities.iterator().next().authority.equals('ADMIN')||car.user.authorities.iterator().next().authority.equals('POWER')}">
            Приход
        </option>
    </select>
    <input class="f1" id="input-note-value" oninput="cuttingDecimalPlaces(this)"
           type="number" step="0.01" max="9999999" placeholder="Сумма" th:field="*{value}">
    <div>
        <input type="submit" class="btn outline green" onclick="clickSubmit()" value=">>"/>
    </div>
</form>

</body>
</html>
