<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div class="card bg-dark my-2" th:fragment="create" sec:authorize="hasAnyAuthority('POWER', 'ADMIN')">
    <form method="post" th:action="|/cars/${car.id}/notes/|" th:object="${note}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="hidden" name="location" th:value="${#httpServletRequest.requestURL}">
        <div class="card-body form-group row">
            <div class="col-lg-3 my-1">
                <input id="input-date" type="date" class="form-control" th:field="*{date}"/>
            </div>
            <div class="col-lg-4 my-1">
                <input type="text" class="form-control" placeholder="Запись" th:field="*{description}"/>
            </div>
            <div class="col-lg-2 my-1">
                <select id="select-negative" class="form-control">
                    <option>Расход</option>
                    <option th:if="!${car.ord}">Приход</option>
                </select>
            </div>
            <div class="col-lg-3 my-1 input-group">
                <input id="input-note-value" oninput="cuttingDecimalPlaces(this)"
                       type="number" step="0.01" max="9999999" class="form-control"
                       placeholder="0.00" th:field="*{value}">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-success" onclick="clickSubmit()" value=">>">
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>
